body {
    margin: 0;
    padding: 0;
    background-color: #29b6cf;
    height: 130vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 1000px;
    height: 700px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }